* {
    margin: 0;
    padding: 0;
}
.siteNav {
  margin-top: 100px;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 200px;
  width: 100%;
}
 .headTest{
  background:red;
  min-width: 400px;
  min-height: 300px;
 }

.sources-table{
  width: 30%;
}

.article-image{
  height: 320px;
  width: 560px;
}

.news-sources{
  cursor: pointer;
}

.container{
  margin-left: 1px;
}

.scrollable-menu {
  height: auto;
  padding: 4px 17px;
}
.google {
    border: 1px solid #95989A;
    background: #fff no-repeat 25px;
    background-size: 25px;
}

/* sorting css*/
.news-articles{
  cursor: pointer;
}

.Demo__some-network {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}




